
@media only screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #nav-header {
    border-radius: 15px;
    grid-column: 1;
    justify-self: center;
    padding-top: 0;
    height: 380px;
    width: 400px;
    box-shadow: 5px 8px 0px 0px rgb(217, 218, 236, 0.7);
    margin-left: 20px;
  }

  main.container {
    grid-column: 2;
    max-width: none;
  }

  #nav-header,
  main.container {
    margin-top: 200px;
  }
}
