nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.8em;
  
  position: fixed;

  display: flex;
  justify-content:space-between;
  align-items: flex-end;
}

#nav-title {
  font-family: 'Bungee';
}

.down-icon {
  padding-top:0.4rem;
  text-align: center;
  cursor: pointer;
  color:red;
}

.down-icon:hover {
  color: #efd83e;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {

    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.down-icon {
  animation: floating 2s infinite;
}
/* @keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.down-icon {
  animation: floating 2s infinite;
} */