.tweet-container {
  border: #ddd 2px solid;
  box-shadow: 5px 8px 0px 0px rgb(217, 218, 236, 0.7);
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.tweet-container:hover {
  box-shadow: 5px 8px 0px 0px rgba(240, 225, 126, 0.7)
}


/**HEADER**/
.tweet-container header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

div.icon {
  width: 60px;
  height: 60px;
  margin-right: 0.75rem;
}

.icon-img {
  border-radius: 60%;
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.handle {
  font-weight: 600;
  color: #CACBDC;
  margin-right: 1.2rem;
}

.tweet-container header .profile {
  align-items: center;
}

.profile p {
  font-weight: bold;
}

/**TWEET**/
.tweet-container .tweet {
  padding-bottom: 1.2rem;
  margin-bottom: 0.7rem;
  border-bottom: 1px solid #ddd;
  word-break: break-all;
}

/**FOOTER**/
.tweet-footer {
  justify-content: space-between;
  align-items: center;
}

.tweet-footer p {
  font-size: 0.7em;
  margin-left:1.2rem;
}

.tweet-footer .rtLike {
  color:#494b7c;
  font-size: 0.8em;
  margin-right: 1.2rem;
  cursor: pointer;
}

.tweet-footer .rtLike i:hover {
  color: #efd83e;
}

.rtLike :nth-child(1),
.rtLike :nth-child(2) {
  margin-right: 0.5rem;
}


/**
Stretch - scroll to top
**/
.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e53935;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}

.btn-scroll-top i {
  margin-top: 8px;
}

.btn-scroll-top:hover {
  background-color: #c62828;
}


